!!! 5
html(lang='fr')
  head
    meta(charset='utf-8')
    title Ma Presentation 1 -sans titre-
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='../node_modules/reveal-md/node_modules/reveal.js/css/reveal.min.css')
    link#theme(rel='stylesheet', href='../node_modules/reveal-md/node_modules/reveal.js/css/theme/default.css')
    link(rel='stylesheet', href='../node_modules/reveal-md/node_modules/reveal.js/lib/css/zenburn.css')
    script
      document.write( '<link rel="stylesheet" href="../node_modules/reveal-md/node_modules/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );

  body
    .reveal
      .slides
        section(data-markdown='data-markdown', data-separator='^\n--HSLIDE\n$', data-vertical='^\n--VSLIDE\n$', data-charset='utf-8')
          script(type='text/template')
    script(src='../node_modules/reveal-md/node_modules/reveal.js/lib/js/head.min.js')
    script(type='text/x-mathjax-config')
      MathJax.Hub.Config({
      tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
      },
      messageStyle: "none",
      });
    script(src='../node_modules/reveal-md/node_modules/reveal.js/js/reveal.min.js')
    script(src='config.js')
