footer
	p.pull-right
		a(href="#") Back to top
	p &copy; 2013 MERCIER Bastien &middot;

script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
//- script(src="/bower_components/bootstrap/docs-assets/js/holder.js")