doctype

html(lang='en')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login iSlide
    link(href='./bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='signin.css', rel='stylesheet')
    style(type='text/css')
  body
    .container
      if(error)
        .alert.alert-warning
          strong Warning!
          |  #{error}!
 
      form.form-signin(role='form',method='post',action='/login')
        h2.form-signin-heading Enter your Login
        input#csrf(type="hidden",name="_csrf",value=csrftoken)
        input#email.form-control(type='email',name='mail',value='', placeholder='Email address', required='', autofocus='')
        input#password.form-control(type='password',name='password',value='', placeholder='Password',pattern='.{7,}', required='', title='7 characters minimuns')
        a(href='/signin') or Signin!
        button#sign_in.btn.btn-lg.btn-primary.btn-block(type="submit") Login
        
      